.work-space {
  width: 100%;
}

.date {
  text-align: center;
  padding: 0;
  color: gray;
}

.title-input {
  font-weight: bold;
  display: inline;
  height: fit-content;
  min-height: 1em;
  overflow: hidden;
  resize: none;
  text-align: left;
}

textarea {
  /* Remove default styles */
  appearance: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  resize: none;
  outline: none;
  /* Custom styles */
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: none;
  flex-grow: 1;
  height: fit-content;
  text-align: left;
}

textarea:focus {
  box-shadow: none;
}
