.work-space {
  width: 100%;
}

.date {
  text-align: center;
  padding: 0;
  color: gray;
}

.title-input {
  font-weight: bold;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: anywhere; /* Updated property */
  width: 97%;
  resize: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: none;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 0.2em;
  overflow-y: hidden;
  max-height: 40em;
}

textarea {
  /* Remove default styles */
  appearance: none;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  resize: none;
  outline: none;
  /* Custom styles */
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: none;
  flex-grow: 1;
  height: fit-content;
  text-align: left;
  overflow: hidden;
  width: 97%;
  height: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .work-space {
    padding: 0 1rem;
  }
  
  .title-input {
    font-size: 20px;
    line-height: 1.1;
  }
}

@media (max-width: 480px) {
  .title-input {
    font-size: 18px;
    line-height: 1;
  }
}
